$primary-color: #fff;
$primary-color-shade: #f8f9fa;

$secondary-color: #bca900;

$primary-text-color: #000;
$secondary-text-color: #495057;

$tertiary-color: #ababab;

$highlight-color: #c92a2a;
$highlight1-color: #fcc419;

$link-color: #0029fe;

// Deafult Stylesheet

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "K2D", monospace;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.flex {
  display: flex;
  // gap: 1rem;
}

.grid {
  display: grid;
  gap: 1rem;
}

// Navbar Stylesheet

.primary-navbar {
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  margin: auto;
  padding: 1rem 2rem;
  background-color: $primary-color;

  position: sticky;
  top: 0;
  z-index: 999;

  .logo {
    justify-content: center;
    align-items: center;
    gap: 3rem;

    position: relative;
  }

  div {
    &:nth-child(1) {
      h1 {
        color: $highlight-color;
      }
    }

    &:nth-child(2) {
      h1 {
        color: $tertiary-color;
      }
    }
  }
  .line {
    position: relative;

    &::before {
      content: "|";
      color: $secondary-color;

      position: absolute;
      left: -30px;
    }
  }

  .right {
    .navigation {
      justify-content: center;
      align-items: center;
      font-weight: 600;
      gap: 3rem;

      li {
        a {
          &:hover {
            color: $highlight1-color;
          }
        }
      }
    }
  }
}

// Hero Section

.navfix {
  padding: 6rem;
}

.nav-fix {
  padding: 4rem;
}

.section1 {
  background-color: $secondary-color;
  margin: 0rem auto 3rem auto;
  padding: 0 2rem;
  max-width: 90%;
  height: 500px;
  border-radius: 10px;

  justify-content: space-around;
  //   align-items: center;

  .left {
    justify-content: center;
    align-items: center;

    img {
      transform: scale(1.4);
      margin-bottom: 15rem;
    }
  }

  .right {
    color: $primary-color;
    text-align: center;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .name {
      font-size: 64px;
      letter-spacing: 10px;
      font-weight: 800;
    }

    .tag {
      font-size: 42px;
      font-weight: 300;
      letter-spacing: 5px;
    }

    button {
      width: 100%;
      background-color: $primary-text-color;
      color: $primary-color;
      padding: 1.5rem 1rem;
      border-radius: 10px;
      border: none;
      font-family: monospace;
      font-size: 36px;

      div {
        justify-content: space-around;
        align-items: center;

        span {
          display: block;
        }
      }
    }
  }
}

// Banner Section
.section2 {
  max-width: 70%;
  background-color: $primary-color-shade;
  border-radius: 100px;
  margin: auto;
  margin-bottom: 0;

  .info-container {
    margin: auto;
    padding: 2rem;
    max-width: 85%;
    min-height: 7rem;
    // box-shadow: 1px 1px 1px 1px ;
    border-radius: 100px;

    justify-content: center;
    align-items: center;

    .info-lists {
      width: 100%;
      color: $secondary-text-color;

      justify-content: space-around;
      align-items: center;

      .info-content {
        gap: 1rem;
        .icon-container {
          width: 3rem;
          height: 3rem;
          background-color: $highlight1-color;
          border-radius: 50%;

          justify-content: center;
          align-items: center;

          i {
            font-size: 1.4rem;
            color: $primary-color;
          }
        }

        span {
          text-align: center;
          h5 {
            letter-spacing: 2px;
          }

          p {
            color: $secondary-color;
          }
        }
      }

      .info-divider {
        width: 3px;
        height: 35px;
        background-color: $tertiary-color;
      }
    }
  }
}

// Skills Section

.tech-stacks {
  width: 90%;
  margin: 0 auto;

  justify-content: space-between;
}

.title-skills {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 4rem;
}

.section3 {
  width: 30%;
  margin: 0 auto;
  padding: 3rem 1rem;

  background-color: $primary-color-shade;
  border-radius: 25px;

  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;

  .icon-skills {
    height: 80px;
  }
}

// Projects Sections

.section4 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;
  width: 90%;
  margin: auto;

  .title {
    font-size: 2rem;
    margin-bottom: 4rem;
  }

  .projects-container {
    width: 100%;
    padding: 0 2rem 0 0;

    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    place-items: center;
    gap: 2.5rem;

    .project-card {
      cursor: pointer;
      flex-direction: column;
      box-shadow: 0 4px 12px 4px rgba(0, 0, 0, 0.3);

      .top {
        img {
          max-width: 100%;
        }
      }
      .bottom {
        margin-top: 1.2rem;
        padding: 0.5rem 1rem;
        text-align: center;

        p {
          font-size: 1.5rem;

          &:nth-child(1) {
            font-weight: 800;
          }

          &:nth-child(2) {
            margin-top: 1.2rem;
          }
        }
      }

      .tech {
        padding-bottom: 1rem;
        text-align: center;

        > p {
          font-weight: 700;
        }

        div {
          justify-content: space-around;
          align-items: center;

          p {
            font-weight: 500;
          }

          button {
            padding: 0.5rem 1rem;
            font-size: 1rem;
            font-weight: 600;
            border: none;
            border-radius: 2.5px;
            background-color: $primary-color-shade;

            &:hover {
              background-color: rgb(219, 216, 216);
            }
          }
        }
      }
    }
  }
}

// About Section

.section5 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;

  .title {
    font-size: 2rem;
    margin-bottom: 4rem;
  }

  .about-container {
    align-items: flex-start;
    .left {
      width: 50%;
      padding: 0 2rem;
      position: relative;

      display: flex;
      justify-content: center;
      align-items: flex-start;

      .bg {
        width: 95%;
        height: 65%;
        background-color: $secondary-color;
        position: absolute;
        bottom: 0;
        z-index: -1;
      }

      img {
        width: 100%;
      }
    }

    .right {
      width: 50%;
      flex-direction: column;
      justify-content: space-between;
      gap: 2rem;
      padding: 0 2rem;

      h1 {
        font-size: 3.5rem;
      }
      p {
        &:nth-child(2) {
          font-weight: 500;
        }

        &:nth-child(3) {
          font-weight: 300;
        }
      }
      a {
        color: $link-color;
        font-size: 2rem;
        font-weight: 600;

        &:hover {
          text-decoration: underline;
        }
      }

      > div {
        flex-direction: column;

        .tag {
          font-weight: 500;
        }

        div {
          display: flex;
          gap: 3rem;
        }
        span {
          padding: 0.5rem 0.7rem;
          border-radius: 0.8rem;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

// Get in Touch Section

.section6 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  margin-bottom: 8rem;

  .socials {
    padding: 4rem;
    gap: 8rem;

    .icon-socials {
      height: 80px;
    }

    div {
      i {
        font-size: 80px;
      }
    }
  }

  .email-section {
    margin-top: 2rem;

    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .email {
      background-color: $primary-color;
      padding: 1rem 2rem;
      border-radius: 100px;
      cursor: pointer;

      display: flex;
      align-items: center;
      gap: 1rem;

      &:hover {
        background-color: $primary-color-shade;
      }

      a {
        color: $primary-text-color;
        font-size: 2rem;
      }

      .send {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: $secondary-color;

        display: flex;
        justify-content: center;
        align-items: center;
        color: $primary-color;
      }
    }
  }
}

// Footer

footer {
  background-color: $primary-color-shade;
  color: $secondary-text-color;

  .footer-container {
    max-width: 1440px;
    flex-direction: column;
    margin: 0 auto;

    .footer-top {
      justify-content: space-around;
      align-items: flex-start;

      padding: 4rem;
      width: 80%;
      margin: 0 auto;
      text-align: center;

      div {
        flex-direction: column;

        h3 {
          text-transform: uppercase;
        }

        ul {
          flex-direction: column;
          gap: 0.5rem;

          li:hover {
            color: $highlight1-color;
            cursor: pointer;
          }
        }
      }
    }
  }
  .footer-bottom {
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    text-align: center;
  }
}
