* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "K2D", monospace;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  gap: 1rem;
}

.primary-navbar {
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  margin: auto;
  padding: 1rem 2rem;
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}
.primary-navbar .logo {
  justify-content: center;
  align-items: center;
  gap: 3rem;
  position: relative;
}
.primary-navbar div:nth-child(1) h1 {
  color: #c92a2a;
}
.primary-navbar div:nth-child(2) h1 {
  color: #ababab;
}
.primary-navbar .line {
  position: relative;
}
.primary-navbar .line::before {
  content: "|";
  color: #bca900;
  position: absolute;
  left: -30px;
}
.primary-navbar .right .navigation {
  justify-content: center;
  align-items: center;
  font-weight: 600;
  gap: 3rem;
}
.primary-navbar .right .navigation li a:hover {
  color: #fcc419;
}
.primary-navbar .sidebar {
  display: none;
}
.primary-navbar .sidebar:hover {
  cursor: pointer;
}
.primary-navbar .sidebar i {
  font-size: 1.5rem;
}

.navfix {
  padding: 6rem;
}

.nav-fix {
  padding: 4rem;
}

.section1 {
  background-color: #bca900;
  margin: 0rem auto 3rem auto;
  padding: 0 2rem;
  max-width: 90%;
  height: 500px;
  border-radius: 10px;
  justify-content: space-around;
}
.section1 .left {
  justify-content: center;
  align-items: center;
}
.section1 .left img {
  transform: scale(1.4);
  margin-bottom: 15rem;
}
.section1 .right {
  color: #fff;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.section1 .right .name {
  font-size: 64px;
  letter-spacing: 10px;
  font-weight: 800;
}
.section1 .right .tag {
  font-size: 42px;
  font-weight: 300;
  letter-spacing: 5px;
}
.section1 .right button {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 1.5rem 1rem;
  border-radius: 10px;
  border: none;
  font-family: monospace;
  font-size: 36px;
}
.section1 .right button div {
  justify-content: space-around;
  align-items: center;
}
.section1 .right button div span {
  display: block;
}

.section2 {
  width: 70%;
  background-color: #f8f9fa;
  border-radius: 100px;
  margin: auto;
  margin-bottom: 0;
  margin-top: 8rem;
}
.section2 .info-container {
  margin: auto;
  padding: 2rem;
  max-width: 85%;
  min-height: 7rem;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
}
.section2 .info-container .info-lists {
  width: 100%;
  color: #495057;
  justify-content: space-around;
  align-items: center;
}
.section2 .info-container .info-lists .info-content {
  gap: 1rem;
}
.section2 .info-container .info-lists .info-content .icon-container {
  width: 3rem;
  height: 3rem;
  background-color: #fcc419;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.section2 .info-container .info-lists .info-content .icon-container i {
  font-size: 1.4rem;
  color: #fff;
}
.section2 .info-container .info-lists .info-content span {
  text-align: center;
}
.section2 .info-container .info-lists .info-content span h5 {
  letter-spacing: 2px;
}
.section2 .info-container .info-lists .info-content span p {
  color: #bca900;
}
.section2 .info-container .info-lists .info-divider {
  width: 3px;
  height: 35px;
  background-color: #ababab;
}

.tech-stacks {
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}

.title-skills {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 4rem;
}

.section3 {
  width: 30%;
  margin: 0 auto;
  padding: 3rem 1rem;
  background-color: #f8f9fa;
  border-radius: 25px;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.section3 .icon-skills {
  height: 80px;
}

.section4 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;
  width: 90%;
  margin: auto;
}
.section4 .title {
  font-size: 2rem;
  margin-bottom: 4rem;
}
.section4 .projects-container {
  width: 100%;
  padding: 0 2rem 0 0;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  place-items: center;
  gap: 2.5rem;
}
.section4 .projects-container .project-card {
  cursor: pointer;
  flex-direction: column;
  box-shadow: 0 4px 12px 4px rgba(0, 0, 0, 0.3);
}
.section4 .projects-container .project-card .top img {
  max-width: 100%;
}
.section4 .projects-container .project-card .bottom {
  margin-top: 1.2rem;
  padding: 0.5rem 1rem;
  text-align: center;
}
.section4 .projects-container .project-card .bottom p {
  font-size: 1.5rem;
}
.section4 .projects-container .project-card .bottom p:nth-child(1) {
  font-weight: 800;
}
.section4 .projects-container .project-card .bottom p:nth-child(2) {
  margin-top: 1.2rem;
}
.section4 .projects-container .project-card .tech {
  padding-bottom: 1rem;
  text-align: center;
}
.section4 .projects-container .project-card .tech > p {
  font-weight: 700;
}
.section4 .projects-container .project-card .tech div {
  justify-content: space-around;
  align-items: center;
}
.section4 .projects-container .project-card .tech div p {
  font-weight: 500;
}
.section4 .projects-container .project-card .tech div button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 2.5px;
  background-color: #f8f9fa;
}
.section4 .projects-container .project-card .tech div button:hover {
  background-color: rgb(219, 216, 216);
}

.section5 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;
}
.section5 .title {
  font-size: 2rem;
  margin-bottom: 4rem;
}
.section5 .about-container {
  align-items: flex-start;
}
.section5 .about-container .left {
  width: 50%;
  padding: 0 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.section5 .about-container .left .bg {
  width: 95%;
  height: 65%;
  background-color: #bca900;
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.section5 .about-container .left img {
  width: 100%;
}
.section5 .about-container .right {
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 2rem;
}
.section5 .about-container .right h1 {
  font-size: 3.5rem;
}
.section5 .about-container .right p:nth-child(2) {
  font-weight: 500;
}
.section5 .about-container .right p:nth-child(3) {
  font-weight: 300;
}
.section5 .about-container .right a {
  color: #0029fe;
  font-size: 2rem;
  font-weight: 600;
}
.section5 .about-container .right a:hover {
  text-decoration: underline;
}
.section5 .about-container .right > div {
  flex-direction: column;
}
.section5 .about-container .right > div .tag {
  font-weight: 500;
}
.section5 .about-container .right > div div {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.section5 .about-container .right > div span {
  padding: 0.5rem 0.7rem;
  border-radius: 0.8rem;
}
.section5 .about-container .right > div span:hover {
  cursor: pointer;
}

.section6 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  margin-bottom: 8rem;
}
.section6 .socials {
  padding: 4rem;
  gap: 8rem;
}
.section6 .socials .icon-socials {
  height: 80px;
}
.section6 .socials div i {
  font-size: 80px;
}
.section6 .email-section {
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.section6 .email-section .email {
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.section6 .email-section .email:hover {
  background-color: #f8f9fa;
}
.section6 .email-section .email a {
  color: #000;
  font-size: 2rem;
}
.section6 .email-section .email .send {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #bca900;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

footer {
  background-color: #f8f9fa;
  color: #495057;
}
footer .footer-container {
  max-width: 1440px;
  flex-direction: column;
  margin: 0 auto;
}
footer .footer-container .footer-top {
  justify-content: space-around;
  align-items: flex-start;
  padding: 4rem;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
footer .footer-container .footer-top div {
  flex-direction: column;
}
footer .footer-container .footer-top div h3 {
  text-transform: uppercase;
}
footer .footer-container .footer-top div ul {
  flex-direction: column;
  gap: 0.5rem;
}
footer .footer-container .footer-top div ul li:hover {
  color: #fcc419;
  cursor: pointer;
}
footer .footer-bottom {
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  text-align: center;
}

@media screen and (max-width: 1224px) {
  html {
    font-size: 100%;
  }
  .primary-navbar {
    font-size: 1rem;
  }
  .primary-navbar .line:before {
    left: -12.5%;
  }
  .primary-navbar .right {
    display: none;
  }
  .primary-navbar .sidebar {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
  .primary-navbar {
    font-size: 1rem;
  }
  .primary-navbar .line:before {
    left: -12.5%;
  }
  .primary-navbar .right {
    display: none;
  }
  .primary-navbar .sidebar {
    display: block;
  }
  .section1 {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 0;
  }
  .section1 .left {
    width: 200px;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .section1 .left img {
    align-self: flex-start;
    justify-self: flex-start;
    display: block;
    margin: 0;
    width: 100%;
  }
  .section1 .right {
    margin-top: 9rem;
    margin-bottom: 5rem;
    align-self: center;
    gap: 4rem;
  }
  .section1 .right .name {
    font-size: 32px;
    letter-spacing: 0;
    font-weight: 600;
  }
  .section1 .right .tag {
    font-size: 24px;
    letter-spacing: 0;
  }
  .section1 .right button {
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 16px;
  }
  .section2 {
    width: 90%;
    background-color: #fff;
  }
  .section2 .info-container {
    flex-direction: column;
    padding: 2rem 0.5rem;
  }
  .section2 .info-container .info-lists {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
  .section2 .info-container .info-lists .info-content span {
    text-align: start;
  }
  .section2 .info-container .info-divider {
    display: none;
  }
  .tech-stacks {
    flex-direction: column;
    gap: 1rem;
  }
  .tech-stacks .section3 {
    width: 100%;
  }
  .tech-stacks .section3 .icon-skills {
    height: 40px;
  }
  .section4 .projects-container {
    grid-template-columns: 1fr;
  }
  .section4 .projects-container .project-card {
    font-size: 1rem;
  }
  .section4 .projects-container .project-card .bottom p {
    font-size: 1rem;
  }
  .section4 .projects-container .project-card .tech div:nth-child(3) {
    flex-direction: column;
  }
  .section4 .projects-container .project-card .tech div:nth-child(3) button {
    width: 90%;
    margin-top: 1rem;
    border-radius: 10px;
  }
  .section5 {
    width: 90%;
  }
  .section5 .title {
    margin-bottom: 0;
  }
  .section5 .about-container {
    flex-direction: column;
    align-items: center;
  }
  .section5 .about-container .right {
    width: 100%;
    text-align: center;
  }
  .section5 .about-container .right h1 {
    font-size: 32px;
  }
  .section5 .about-container .right a {
    font-size: 1.5rem;
  }
  .section5 .about-container .right > div .tag {
    margin: 0 auto;
  }
  .section6 .socials .icon-socials {
    height: 40px;
  }
  .section6 .socials div i {
    font-size: 40px;
  }
  .section6 .email-section .email {
    background-color: #f8f9fa;
  }
  .section6 .email-section .email a {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=style.css.map */